<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        *{
            padding: 0;
       margin: 0;
        }
   #container{
      width: 500px;
      margin: 50px auto;
   }
   li{
      list-style: none;
      height: 50px;
      line-height: 50px;
      background: #cccccc;
      padding: 0 10px;
      margin-top: 10px;
   }
   .price{
       float: right;
   }
   .selected{
       background: pink;
   }
    </style>
</head>
<body>
   

<div id="container">
    <div>
    <h2>todolist</h2>
    <hr>
    名称：<input type="text" placeholder="请输入产品名称"  v-model.trim="name">
    价格：<input type="text" placeholder="输入产品价格" v-model="price">
    <button class="add" @click="add()" > 增加 </button>
</br>
    <input type="text"v-model="keyWord" placeholder="请输入关键字">
    <button @click="search">查询</button>
</div>
    <div>
    <ul>
        <li v-for="(product,index) in proList" @click="change(product,index)" :class="{selected:product.isSelected}">
            <input  @click.stop type="checkbox" v-model="check" :value="index">
            <span  @click.stop="del(index)">X</span>
            <span class="name" >{{product.name}}</span>
            <span class="price">{{product.price}}</span>
        </li>
        <!-- <li>
                <input type="checkbox">
                <span>X</span>
                <span class="name">裤子</span>
                <span class="price">888</span>
            </li>
            <li>
                    <input type="checkbox">
                    <span>X</span>
                    <span class="cloth">鞋</span>
                    <span class="price">888</span>
                </li>
                <li>
                        <input type="checkbox">
                        <span>X</span>
                        <span class="cloth">iphone</span>
                        <span class="price">888</span>
                    </li>
                    <li>
                            <input type="checkbox">
                            <span>X</span>
                            <span class="cloth">电脑</span>
                            <span class="price">888</span>
                        </li> -->
    </ul>
    <div>
        <button @click="delChecked">删除选中</button>总价：<span>{{sum()}}</span>
    </div>
</div>
</div>
<script src="vue.js"></script> 
<script>
    let vm=new Vue({
        el:'#container',
        data:{
           
             proList:[
                {
                name:'衣服',
                price:'888',
                isSelected:false
            },
            {
                name:'裤子',
                price:'888',
                isSelected:false
            },
            {
                name:'鞋', 
                price:'888',
                isSelected:false
            },
            {
                name:'iphone',
                price:'888',
                isSelected:false
            },
            {
                name:'电脑', 
                price:'888',
                isSelected:false
            }
         

            
            ],
            name:'',
            price:'',
            check:[],
            keyWord:'',

        },
        methods:{
            change(product,index){
                if(product.isSelected){
                    var index=this.check.indexOf(index);
                    this.check.splice(index,1) ;
                }else{
                    this.check.push(index);
                }
              product.isSelected=!product.isSelected;
            //   this.check.push(index);
            },
            add(){
               
            
            this.proList.push({
                name:this.name,
                price:this.price,
                isSelected:false
            });
            this.name='';
            this.price='';
        },
        sum(){
            var totalPrice =0;
            this.proList.forEach(function(pro,index){
                if(pro.isSelected){
                  totalPrice+=parseInt(pro.price);
                }

            });
            return totalPrice;
            
        },
    
       delChecked() {
                    this.proList = this.proList.filter((elem, index) => {
                        if (!this.check.includes(index)) {
                            return elem;
                            
                        }

                    });
                    this.check = [];
                   
                },
                search() {
                    this.proList = this.proList.filter(function (elem, index) {
                        if (elem.name.includes(this.keyWord)) {
                            return elem;
                        }
                    }.bind(this));
                },
                del(index) {
                    this.proList.splice(index, 1);
                },
        }

    })
</script>  
</body>
</html>